.dashboard-component {
    padding: 0;
    background: rgb(75, 5, 5);
    height: 100%;
}

.dashboard-component .dashboard-componentDiv {
    height: fit-content;
}

.dashboard-component .dashboard-componentDiv .userIntroDiv {
    margin-bottom: 4rem;
    padding: 0 2rem;
}

.dashboard-component .dashboard-componentDiv .userIntroDiv .userImg {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    border: 1px solid rgb(56, 4, 4);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dashboard-component .dashboard-componentDiv .userIntroDiv .userImg img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.dashboard-component .dashboard-componentDiv .userIntroDiv .greeting-div {
    color: rgb(247, 219, 219);
}

.dashboard-component .dashboard-componentDiv .userIntroDiv h6 {
    font-size: 20px;
    font-family: 'Vesper Libre', serif !important;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv {
    padding: 0 5px;
    margin-bottom: 5rem;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv h6 {
    color: white;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details {
    background: rgb(252, 251, 251);
    border-radius: 5px;
    color: black;
    padding: 15px 10px;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .info-card {
    background: white;
    border-radius: 8px;

}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .detailImgDiv {
    color: white;
    padding: 9px 11px 12px 11px;
    border-radius: 50%;
    margin-right: 1rem;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .info-card:nth-of-type(1) .detailImgDiv {
    background: red;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .info-card:nth-of-type(2) .detailImgDiv {
    background: rgb(188, 188, 4);
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .info-card:nth-of-type(3) .detailImgDiv {
    background: purple;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .info-card:nth-of-type(4) .detailImgDiv {
    background: rgb(136, 197, 238);
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .detailImgDiv .detailImg {
    font-size: 25px;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .detailInfo p {
    color: gray;
}

.dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .detailInfo h5 {
    font-weight: bold;
}

.dashboard-component .top3 {
    padding: 0 27px;
}

.dashboard-component .top3-students {
    flex: 1 1 0;
    margin-top: 106px;
    padding: 0 10px;
}

.dashboard-component .top3-students.first {
    margin-top: 0;
}

.dashboard-component .top3-students .img-div {
    width: 68px;
    height: 68px;
    overflow: hidden;
}

.dashboard-component .top3-students .img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dashboard-component .top3-students.second .img-div {
    border: 3px solid #C0C0C0;
    border-radius: 50%;
}

.dashboard-component .top3-students.first .img-div {
    width: 82px;
    height: 82px;
    border: 3px solid #FFAA00;
    border-radius: 50%;
}

.dashboard-component .top3-students.third .img-div {
    border: 3px solid #FB8A4A;
    border-radius: 50%;
}

.dashboard-component .top3-students.first .winner-crown {
    color: #FFAA00;
    font-size: 34px;
    margin-bottom: 4.18px;
}

.dashboard-component .top3-students .position {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    transform: rotate(45deg);
    margin-top: -10px;
}

.dashboard-component .top3-students.second .position {
    background: #C0C0C0;
}

.dashboard-component .top3-students.first .position {
    background: #FFAA00;
}

.dashboard-component .top3-students.third .position {
    background: #FB8A4A;
}

.dashboard-component .top3-students .position p {
    font-family: 'Vesper Libre', serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    margin: 0 !important;
    transform: rotate(-45deg);
    text-align: center !important;
}

.dashboard-component .top3-students .student-info h5 {
    margin-top: 15.96px;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 13px;
    font-weight: 500;
}

.dashboard-component .top3-students .student-info p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.dashboard-component .top3-students.first .student-info p {
    color: #FFAA00;
}

.dashboard-component .top3-students.second .student-info p {
    color: #C0C0C0;
}

.dashboard-component .top3-students.third .student-info p {
    color: #FB8A4A;
}



@media (max-width: 768px) {
    .dashboard-component .dashboard-componentDiv .userIntroDiv .greeting-div p {
        font-size: 14px;
    }

    .dashboard-component .dashboard-componentDiv .userIntroDiv h6 {
        font-size: 18px;
        font-family: 'Vesper Libre', serif !important;
    }

    .dashboard-component .dashboard-componentDiv .testInfoDiv .exam-details .detailInfo p {
        font-size: 14px;
    }
}