@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Vesper+Libre:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');


body {
    background: rgb(255, 236, 236);
    height: 100%;
}

.dashboard {
    background: rgb(255, 236, 236);
}

.dashboard .top-nav {
    background: rgb(250, 193, 193);
    padding: 2rem 1.5rem;
}

.dashboard .top-nav h5 {
    font-family: 'Charm', cursive !important;
    font-size: 25px;
    font-weight: 500;
}

.dashboard .top-nav h5 span {
    font-family: 'Italianno', cursive !important;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 700;
}

.dashboard .top-nav img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.dashboard .middle-div {
    padding: 5rem 1.5rem;
}