@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Vesper+Libre:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');


/*body {
    background: rgb(255, 236, 236);
    height: 100%;
}*/

.dashboard {
    background: rgb(75, 5, 5);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
}

.dashboard .school-name {
    font-family: 'Vesper Libre', serif !important;
    color: rgb(250, 193, 193);
}

.dashboard .top-nav {
    background: rgb(75, 5, 5);
    padding: 1rem 1.5rem;
}

.dashboard .top-nav h5 {
    font-family: 'Charm', cursive !important;
    font-size: 25px;
    font-weight: 500;
}

.dashboard .top-nav h5 span {
    font-family: 'Charm', cursive !important;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 600;
    color: rgb(75, 5, 5)
}

.dashboard .top-nav .menubar {
    color: white;
}

.dashboard .top-nav .menubar:hover {
    cursor: pointer !important;
}

.offcanvas {
    background: white;
}

.offcanvas-header {
    background: rgb(250, 193, 193);
}

.offcanvasinfo {
    font-size: 12px;
    color: #373737;
}

.user-img {
    width: 60px !important;
    height: 60px !important; 
    border-radius: 50%;
    border: 1px solid rgb(255, 236, 236);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.btn-close {
    outline: none !important;
    border: none !important;
    color: rgb(75, 5, 5) !important;
    opacity: 1 !important;
}

button, .btn {
    outline: none !important;
}

.dashboard .middle-div {
    padding: 3rem 1.5rem;
    background: rgb(255, 236, 236);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 236, 236);
}

.footer .nav .nav-item .nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 153.69%;
    color: #373737;
}

.footer .nav .nav-item .nav-link.active {
    color: rgb(75, 5, 5);
}

.footer .nav .nav-item .nav-link.active p .tab-icon {
    color: rgb(75, 5, 5) !important;
}

.offcanvas .nav .nav-item .nav-link {
    color: rgb(105, 102, 102) !important;
    text-decoration: none !important;
}

.offcanvas .nav .nav-item .nav-link.active {
    color: rgb(138, 25, 25) !important;
}


@media (max-width: 768px) {
    .dashboard .top-nav h5 {
        font-size: 20px;
    }

    .dashboard .top-nav h5 span {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .user-img {
        width: 50px !important;
        height: 50px !important;
    }

    .footer .nav .nav-item .nav-link {
        font-size: 12px;
    }
}

@media (max-width: 567px) {
    .dashboard .top-nav h5 {
        font-size: 17px;
    }

    .dashboard .top-nav h5 span {
        font-size: 19px;
        letter-spacing: 2px;
    }
}