@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Vesper+Libre:wght@400;500;700;900&display=swap');

.questions-page {
    background: white;
    height: auto;
    font-family: 'Vesper Libre', serif !important;
}

.questions-subdiv {
    height: fit-content !important;
}

.question-header {
    background: rgb(98, 23, 23);
    color: white;
}

.question-header p:hover {
    cursor: pointer;
}

.questions-page .info-div {
    background-color: rgb(250, 193, 193);
    margin-bottom: 50px;
}

 #user-img {
    width: 50px;
    height: 50px;
    background-color: rgb(250, 193, 193);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 11px;
    overflow: hidden;
}

 #user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-div .timer-icon {
    color: white;
    font-size: 25px;
}

.info-div .timer {
    font-size: 30px;
    color: white;
    margin-bottom: 0 !important;
    margin-right: 18px;
}

.info-div .alertTime .timer-icon,
.info-div .alertTime .timer {
    animation-name: alert;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes alert {
    from {
        color: white;
    }

    to {
        color: red;
    }
}

.questions-page .nav {
    width: 80%;
    margin: auto !important;
}

.questions-page .nav-tabs {
    border-bottom: none !important;
    margin-bottom: 60px !important;
}

.questions-page .nav-link {
    background: none !important;
    color: black;
    font-size: 19px;
    border: none !important;
    outline: none !important;
    font-weight: 600;
    margin-right: 40px !important;
    border-radius: 6px !important;
}

.questions-page .nav-link:hover {
    background: #ffd9041a;
    border-color: transparent !important;
}

.questions-page .nav-link.active {
    background: rgb(250, 193, 193) !important;
    color: rgb(98, 23, 23);
    border-color: rgb(250, 193, 193) !important;
}

.questions-page .tab-content {
    padding-bottom: 40px !important;
    background: white;
}

@media (max-width: 1024px) {
    .info-div .timer-icon {
        color: white;
        font-size: 20px;
    }

    .info-div .timer {
        font-size: 25px;
        color: white;
        margin-bottom: 0 !important;
        margin-right: 18px;
    }

    .questions-page .nav {
        width: 90%;
        justify-content: center;
    }

    .questions-page .nav-link {
        font-size: 16px;
        margin-right: 20px !important;
    }
}

@media (max-width: 768px) {
    .questions-page .nav {
        width: 100%;
        padding: 0 5px;
    }

    .questions-page .nav-link {
        margin-right: 0 !important;
    }
}

@media (max-width: 576px) {
    .questions-page .nav-link {
        font-size: 14px;
        padding: 5px;
        margin-right: 10px !important;
    }
}