.leaderboardTab {
    background: linear-gradient(90deg, #720808 0%, #130101 100%) !important;
    font-family: 'Vesper Libre', serif !important;
    overflow-x: hidden;
}

.leaderboardTab .tops {
    padding-top: 45px;
    background: #4B0505;
    border-radius: 0 0 20% 20%;
    padding-bottom: 45px;
    position: relative;
    z-index: 0;
}

.leaderboardTab .topsTitle h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    font-family: 'Vesper Libre', serif !important;
    margin-bottom: 1px;
}

.leaderboardTab .topsTitle p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.leaderboardTab .top2nd,
.leaderboardTab .top3rd {
    margin-top: 50px;
    position: relative;
    z-index: 4;
}

.leaderboardTab .top2nd .index,
.leaderboardTab .top3rd .index {
    margin: 0 !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    position: absolute;
    z-index: 12;
    top: 22px;
}

.leaderboardTab .top1st .index {
    margin: 0 !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    position: absolute;
    z-index: 12;
    top: 30px;
}

.leaderboardTab .allstars {
    display: inline-block;
    color: red;
    filter: url(#round);
}

.leaderboardTab .starImgs::before {
    content: '';
    background: rgb(250, 193, 193);
    display: block;
    clip-path: polygon(78.88% 90.82%, 49.62% 80.00%, 20.10% 90.08%, 21.35% 58.91%, 2.65% 33.95%, 32.67% 25.51%, 50.63% 0.00%, 67.94% 25.95%, 97.74% 35.15%, 78.41% 59.63%);
    -webkit-clip-path: polygon(78.88% 90.82%, 49.62% 80.00%, 20.10% 90.08%, 21.35% 58.91%, 2.65% 33.95%, 32.67% 25.51%, 50.63% 0.00%, 67.94% 25.95%, 97.74% 35.15%, 78.41% 59.63%);
}

.leaderboardTab .rateStar::before {
    content: '2';
    display: block;
    background-size: cover;
    width: 55px;
    height: 55px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.leaderboardTab .rateStar {
    margin-bottom: -55px;
    z-index: 10;
}

.leaderboardTab .secondStar::before {
    background: #C0C0C0;
}

.leaderboardTab .firstStar::before {
    background: #FFD700;
}

.leaderboardTab .thirdStar::before {
    background: #FB8A4A;
}

.leaderboardTab .secondStarImg {
    filter: url(#roundImg1);
}

.leaderboardTab .secondStarImg::before {
    width: 95px;
    height: 95px;
}

.leaderboardTab .firstStarImg {
    filter: url(#roundImg2);
}

.leaderboardTab .firstStarImg::before {
    width: 125px;
    height: 125px;
}

.leaderboardTab .thirdStarImg {
    filter: url(#roundImg3);
}

.leaderboardTab .thirdStarImg::before {
    width: 95px;
    height: 95px;
}

.leaderboardTab .top3 p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 0 !important;
    margin-right: 5px;
}

.leaderboardTab .top3 span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFB800;
}

.leaderboardTab .others {
    padding: 0 20px 18px 20px;
    position: relative;
    z-index: 4;
}

.leaderboardTab .others-subdiv {
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 22px 17px;
    margin-top: -30px;
}

.leaderboardTab .others-subdiv .img-div {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    overflow: hidden;
}

.leaderboardTab .others-subdiv .img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leaderboardTab .otherStar {
    display: inline-block;
    color: red;
    filter: url(#smallround);
    margin-bottom: -30px;
    margin-right: 10px;
}

.leaderboardTab .otherStar::before {
    content: '';
    color: black;
    display: block;
    background-size: cover;
    width: 32px;
    height: 32px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: #FFB800;
}

.leaderboardTab .others-subdiv .index {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    margin: 0;
    position: absolute;
    z-index: 10;
    left: 49px;
}

.leaderboardTab .others-subdiv p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #000000;
    margin-left: 11px;
}

.leaderboardTab .others-subdiv span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #4B0505;
}

.leaderboardTab .top1st {
    position: relative;
}

.leaderboardTab .popper-div {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 0;
    top: 25px;
}

.leaderboardTab .popper-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.leaderboardTab .backgroundIcon1 {
    color: rgba(247, 219, 219, 0.1);
    position: absolute;
    width: 55px;
    height: 50px;
    left: 40px;
    top: 76px;
}

.leaderboardTab .backgroundIcon2 {
    color: rgba(247, 219, 219, 0.1);
    position: absolute;
    width: 50px;
    height: 50px;
    right: 40px;
    top: 83px;
}

.leaderboardTab .backgroundIcon3 {
    color: rgba(247, 219, 219, 0.05);
    position: absolute;
    width: 209px;
    height: 209px;
    left: -43px;
    top: -120px;
    z-index: 10;
}

.leaderboardTab .backgroundIcon4 {
    color: rgba(247, 219, 219, 0.05);
    position: absolute;
    width: 126px;
    height: 126px;
    right: 60px;
    top: -20px;
}

.leaderboardTab .backgroundIcon5 {
    color: rgba(247, 219, 219, 0.05);
    position: absolute;
    z-index: 1;
    width: 182px;
    height: 182px;
    right: -100px;
    top: 131px;
}

.leaderboardTab .backgroundIcon6 {
    color: rgba(247, 219, 219, 0.05);
    position: absolute;
    z-index: 1;
    width: 192px;
    height: 192px;
    left: -53px;
    top: 188px;
}

.leaderboardTab .backgroundIcon7 {
    color: rgba(247, 219, 219, 0.05);
    position: absolute;
    z-index: 1;
    width: 72px;
    height: 72px;
    left: 185px;
    top: 279px;
}



@media (max-width: 350px) {
    .leaderboardTab .rateStar::before {
        width: 45px;
        height: 45px;
    }

    .leaderboardTab .rateStar {
        margin-bottom: -55px;
        z-index: 10;
    }

    .leaderboardTab .secondStarImg::before {
        width: 75px;
        height: 75px;
    }

    .leaderboardTab .firstStarImg::before {
        width: 105px;
        height: 105px;
    }

    .leaderboardTab .thirdStarImg::before {
        width: 75px;
        height: 75px;
    }

    .leaderboardTab .popper-div {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 0;
        top: 20px;
    }

    .leaderboardTab .backgroundIcon3 {
        color: rgba(247, 219, 219, 0.05);
        position: absolute;
        width: 209px;
        height: 209px;
        left: -43px;
        top: -160px;
    }

}